body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

p{
    padding-bottom: 10px;
}

.heading-special-color{
    color: orange;
}

.flexiable-section{
    display: flex;
    margin-bottom:100px;
}

.half-division{
    padding-left: 10%;
    width: 50%;
}

.half-division img{
    width: 60%;
}

.big-text-division{
    margin-right: 20%;
    
    padding-left:8%;
    width: 70%;
}

.sm-image-division{
    padding-left: 8%;
    width: 30%;
}

.sm-image-division img{
    width: 100%;
}

.second-section-background{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(45deg,rgb(197, 89, 94),rgb(199, 87, 96));
    border-radius: 5px;
    font-weight: 500;
    color: white;
}
